/* STRUCTURE */
 
.site-header {
    width: 100%;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        img {
            width: 34px;
            height: 34px;
        }
        max-width: 40px;
        margin-right: .5em;
    }

}

/* SITE FOOTER */
.site-footer {
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        text-decoration: none;
    }
}


section {
    padding: 4em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* HERO SECTION */
.hero {
    background-image: url('../img/aquarium_header.png');
    background-size: cover;
    background-position: center;
    padding: 6em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
    .container {
    h1 {
        padding-top: 1em;
        // margin-left: -5em;
        margin-bottom: .25em;
    }
    .button {
        text-align: center;
    //     margin-left: -26em;
        width: 150px;
    }
    p {
        margin: 1em 0;
    }
}}

/* aquascapes section */
#aquascapes{
    display:flex;
    justify-content: center;
    align-items: center;
}

// section 3 section
.forums {
    display:flex;
    justify-content: center;
    align-items: center;
}
#section03 .button{
    width: 300px;

}

/* SECTION 4 SECTION */
#section04{
    background: url('../img/about_image.png') no-repeat;
    //position: absolute;
    background-size: cover;
    //background-position: left center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
    clear: both;
}

.about{
    background: rgba($color: #000000, $alpha: .3);
    padding: 1em 2em;
}

.one-half.text-right h2{
    margin-right: .73em;
}

.padding-right {
    padding-right: 10em;
}
